:root {
    font-size:          62.5%;
    background-color:   cadetblue;
}

table {
    margin:             100px auto 0;
    background-color:   bisque;
    font-family:        'Permanent Marker', cursive;
}

table, tr, td {
    border:             solid 20px red;
    border-collapse:    separate;
    border-radius:      25px;
}

tr, td {

    border:             solid 3px black;
    border-radius:      0;
}

td {
    width:              150px;
    height:             150px;
    background-color:   white;
    text-align:         center;
    font-size:          10rem;
}

