:root {
    font-size:          62.5%;
    background-color:   cadetblue;
    margin: 0;
    padding: 0;
}

#or {
    display:            inline-block;
    width:              80px;
    font-size:          3rem;
}

#X, #O {
    font-family:        'Permanent Marker', cursive;
    color:              #464646;
    font-size:          4rem;
    display:            inline-block;
    border:             solid 3px #542e20;
    border-radius:      10px;
    width:              50px;
    height:             50px;
}

#level-3x3, #level-4x4 {
    display:            inline-block;
    color:              #464646;
    width:              80px;
    font-size:          3rem;
    margin-right:       4rem;
    margin-left:        4rem;
    border:             solid 3px #542e20;
    border-radius:      10px;
}


#X:hover, #O:hover, #level-3x3:hover, #level-4x4:hover, .active {
    background-color:   #c4c39a;
    cursor:             pointer;
}

table {
    /*margin:             5% auto 0;*/

    position:           absolute;
    top:                10%;
    right:              53%;
    background-color:   #e8cbaf;


}

table, tr, td {
    border:             solid 20px #8a6741;
    border-collapse:    separate;
    border-radius:      25px;
}

tr, td {

    border:             solid 3px #542e20;
    border-radius:      0;
    background-color:   #f3f2c1;
    transition:         background-color 2s;
}

td {
    width:              150px;
    height:             150px;
    text-align:         center;
    color:              #132323;
    font-family:        'Permanent Marker', cursive;
    text-shadow:        3px 3px 8px rgba(173, 177, 190, 0.7);
    font-size:          10rem;
}

td.highlight {
    background-color:   yellow;
}

.board-4x4  td {
    width:              120px;
    height:             120px;
    font-size:          8rem;
}

.sweet-alert {
    width:              350px;
}

#message {

    position:           absolute;
    top:                20%;
    right:              0;
    width:              100%;
    background-color:   rgba(255, 255, 255, 0.48);
    color: #375d5d;
    font-family:        'Audiowide', cursive;
    font-size:          7rem;
    text-align:         right;
    padding-right:      5%;
}

@media (orientation:landscape) and (max-width: 1300px) {
    #message {
        font-size:      5rem;
    }
}


